<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <title>欢迎注册宿舍管理系统</title>
{#    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">#}
{#	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>#}
{#	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
        {% load static %}
<link href="{% static 'login/css/register.css' %}" rel="stylesheet"/>
</head>
<body>
<div>
<form style="margin:300px;text-align: right" class="form-horizontal" role="form" action="/register/" method="post">
<h3 class="text-center">欢迎注册宿舍管理系统</h3>
    <div style="display:inline-block; text-align: right" class="col-sm-2">
                <label for="firstname1" class="col-sm-2 control-label">学号:</label>
			        <input type="text" class="form-control" id="firstname1" name="a" placeholder="请输入学号">
                </div>
    <br><br/>
<div style="display:inline-block; text-align: right" class="col-sm-2">
                <label for="firstname2" class="col-sm-2 control-label">密码:</label>

			        <input type="password" class="form-control" id="firstname2" name="b" placeholder="请输入密码">
		        </div>
        <br><br/>
<div style="display:inline-block; text-align: right" class="col-sm-2">
                <label for="firstname3" class="col-sm-2 control-label">再次输入密码:</label>

			        <input type="password" class="form-control" id="firstname3" name="c" placeholder="请再次输入密码">
		        </div>
        <br><br/>
<div style="display:inline-block; text-align: right" class="col-sm-2">
                <label for="firstname5" class="col-sm-2 control-label">楼号:</label>

			        <input type="text" class="form-control" id="firstname5" name="e" placeholder="请输入楼号">
		        </div>
    <br><br/>

		       <div style="display:inline-block; text-align: right" class="col-sm-2">
                   <label  for="firstname6" class="col-sm-2 control-label">宿舍:</label>
			        <input type="text" class="form-control" id="firstname6" name="f" placeholder="请输入宿舍">
		        </div>

    <br><br/>
    <div style="display:inline-block; text-align: right" class="col-sm-2">
        <label  for="firstname4" class="col-sm-2 control-label">名字:</label>
        <input type="text" class="form-control" id="firstname4" name="d" placeholder="请输入名字">
    </div>
    <br><br/>

		        <div style="display:inline-block;" class="col-sm-2">
                    <label style="float: left" for="firstname4" class="col-sm-2 control-label">性别:</label>
			        <div text-align="right">
                        <input type="radio" name="gender" value="male" checked/>男
                        <input type="radio" name="gender" value="female"/>女
                    </div>


<br><br/>

               <button style="margin:10px;" type="submit" class="btn btn-primary">注册</button>
               <button style="margin:10px;" type="reset" class="btn btn-primary">重置</button>

    {% if message %}
                    <p class="alert alert-warning">{{ message }}</p>
                  {% endif %}
 </div>
        </form>
</div>
</body>
</html>
